[Desktop Entry]
Version=1.0
Name=Time Tracker
Exec=com.lynnmichaelmartin.TimeTracker
Icon=com.lynnmichaelmartin.TimeTracker
Terminal=false
Type=Application
StartupNotify=true
Comment=A time-tracker program that can sync with local and cloud files.
Categories=Office;Calendar;