.timer {
  font-size: 245%;
}
.controls {
  background-color: var(--card-bg-color);
  border-radius: 0;
}
.no-padding {
  padding-left: 12px;
  padding-right: 12px;
  font-size: smaller;
}
.light-font {
  font-size: smaller;
}
