.timer {
  font-size: 300%;
}
.controls {
  background-color: var(--card-bg-color);
  border-radius: 0;
}
.no-padding {
  padding-left: 12px;
  padding-right: 12px;
  font-size: smaller;
}
.light-font {
  font-size: smaller;
}
.dark-button {
  font-size: smaller;
  font-weight: normal;
  padding-left: 0px;
  padding-right: 0px;
}
.popover-button {
  font-weight: normal;
}
